<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="styles/style.css"/>
        <title>Hello, World!</title>
    </head>
    <body>
 <div id="todo-list-example" class="container">

  <form v-on:submit.prevent="addNewTodo" class="form">

    <label for="new-todo">Add a todo</label>

    <input

      v-model="newTodoText"

      id="new-todo"

      placeholder="add to-do-list"

    >

    <button>Add</button>

  </form>

  <ul>

    <li

      is="todo-item"

      v-for="(todo, index) in todos"

      v-bind:key="todo.id"

      v-bind:title="todo.title"

      v-on:remove="todos.splice(index, 1)"

    ></li>

  </ul>

</div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  
        <script>
            // // This is just a sample script. Paste your real code (javascript or HTML) here.
  Vue.component('todo-item', {
  template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')" class="btn">X</button>\
    </li>\
  ',
  props: ['title']
})

new Vue({
  el: '#todo-list-example',
  data: {
    newTodoText: '',
    todos: [],
    nextTodoId: 4
  },
  methods: {
    addNewTodo: function () {
      this.todos.push({
        id: this.nextTodoId++,
        title: this.newTodoText
      })
      this.newTodoText = ''
    }
  }
})
        </script>
    </body>
</html>
